:root {
    --theme1-bg: #AE4600;
    --theme1-bg90: #AE4600E6;
    --theme2-bg: #B97242;
    --theme2-bg70: #B97242B3;
    --theme2-bg85: #B97242D9;
    --primary-color: #fff;
    --secondary-color: #fff;
}