:root {

    --theme1-bg: #ae4600;
    --theme1-bg90: #AE4600E6;
    --theme2-bg: #b97242;
    --theme2-bg70: #B97242B3;
    --theme2-bg85: #B97242D9;
    --primary-color: #ffffff;
    --secondary-color: #ffffff;

}