:root {
    --theme1-bg: #0088CC;
    --theme1-bg90: #0088CCE6;
    --theme2-bg: #2C3E50;
    --theme2-bg70: #2C3E50B3;
    --theme2-bg85: #2C3E50D9;
    --primary-color: #fff;
    --secondary-color: #fff;
}